.nutrition-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.nutrition-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-c-nutrients {
  background-color: rgb(72, 127, 228);
  color: white;
  width: 1700px;
  height: 160px;
  text-align: center;
  padding-top: 30px;
}

.nutrition-text {
  margin-top: 40px;
  font-size: 40px;
  color: white;
}

.add-nutrition {
  margin-top: 60px;
  width: 400px;
  height: 30px;
}

.added-title-nutritents {
  text-align: center;
  color: white;
}

.added-nutrition {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nutrition-item {
  background-color: rgb(72, 127, 228);
  width: 400px;
  height: 250px;
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.sub-nutrition-info {
  display: flex;
  flex-direction: row;
}

.left-nutrition {
  flex: 1;
}

.right-nutrition {
  flex: 1;
}

.added-time-nutrients {
  margin-top: -20px;
  margin-right: 280px;
  color: black;
}
.added-time {
  margin-top: 10px;
  width: 300px;
}

 
.nutrition-submit-button {
  background-color: rgb(72, 127, 228);
}